.legendTable {
    border-collapse: collapse;
    border-spacing: 0px;
}

    .legendTable td {
        font-family: tahoma;
        font-size: 12px;
        padding: 0;
        margin: 0;
        outline: none;
    }

.legendColor {
    width: 24px;
    height: 15px;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-top: 3px;
}

.legendColorh {
    width: 4px;
    height: 25px;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-top: 3px;
}

.legendLabelh {
    width: 4px;
}

.ui-state-default .ui-icon.ui-icon-helpthick {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAAJRJREFUOE+dj9ENgCAMRDXuP4I7OIMDOIJ//vslidHUlpQGkEL1JZfA0buUDgASWZH5OOwNIzJfC43zeqBu1MlWQrUAQ7C7S0R3fhLUgjicn3nEUyzIA6hBK6kWxIN47ku+WhDE1msrtssFOVqYaBbUwoSpIIithGZBC9MG07K53xtQUPs/IQW5AhQMYkuQ2Tj4XdA9b6B3Az5F3twAAAAASUVORK5CYII=) 0px 0px;
}

.ui-state-hover .ui-icon.ui-icon-helpthick {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAAItJREFUOE+1kMENgDAIRTXu4jQO5QoO4NU1TBzESUywNIUUUqAe/Mm/EN5L6QAAor3h/RrOg87wvgc92wzUMhJxBQjBsXBbElOQ4XNl0JI0BRrer3uyJLZALSbJ2JqbAmoZif8IBToMp7NqGBMKPBjTJaCWkUgoiPL/CxC07sewQJfivYB3a/B7YXgBqrNSJtMfjekAAAAASUVORK5CYII=) 0px 0px;
}

.dlgLegendDialog .ui-dialog-titlebar {
    padding: 5px 5px 10px !important;
}

.dlgLegendDialog .ui-button {
    top: 17px;
}

.legendBar {
    width: 100%;
    height: 103px;
}

.legendControlButton-active {
    border: none !important;
    box-shadow: rgba(144, 141, 141, 0.0) 0px 0px !important;
    background-position: 4px 5.5px !important;
    margin-top: -62px !important;
    right: 17px !important;
    background-size: 14px 14px !important;
    width: 24px !important;
    height: 24px !important;
}

.legendControlButton {
    width: 28px;
    height: 28px;
    position: absolute;
    background-color: white;
    z-index: 150000;
    cursor: pointer;
    top: 0;
    right: 7px;
    border: solid 1px #C0BEBE;
    box-shadow: rgba(144, 141, 141, 0.7) 0px 0px 1.6px;
    margin-top: -37px;
    border-radius: 5px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTEyIDNjLTQuOTcgMC05IDQuMDMtOSA5czQuMDMgOSA5IDljLjgzIDAgMS41LS42NyAxLjUtMS41IDAtLjM5LS4xNS0uNzQtLjM5LTEuMDEtLjIzLS4yNi0uMzgtLjYxLS4zOC0uOTkgMC0uODMuNjctMS41IDEuNS0xLjVIMTZjMi43NiAwIDUtMi4yNCA1LTUgMC00LjQyLTQuMDMtOC05LTh6bS01LjUgOWMtLjgzIDAtMS41LS42Ny0xLjUtMS41UzUuNjcgOSA2LjUgOSA4IDkuNjcgOCAxMC41IDcuMzMgMTIgNi41IDEyem0zLTRDOC42NyA4IDggNy4zMyA4IDYuNVM4LjY3IDUgOS41IDVzMS41LjY3IDEuNSAxLjVTMTAuMzMgOCA5LjUgOHptNSAwYy0uODMgMC0xLjUtLjY3LTEuNS0xLjVTMTMuNjcgNSAxNC41IDVzMS41LjY3IDEuNSAxLjVTMTUuMzMgOCAxNC41IDh6bTMgNGMtLjgzIDAtMS41LS42Ny0xLjUtMS41UzE2LjY3IDkgMTcuNSA5czEuNS42NyAxLjUgMS41LS42NyAxLjUtMS41IDEuNXoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
    background-size: 19px 19px;
    background-repeat: space;
    background-position: 5px 5px;
}


.alpBlock {
    width: 495px;
    height: 85px;
    cursor: default;
}

.alpRadio {
    cursor: pointer;
    margin: 38px 5px;
    width: 14px;
    height: 14px;
}

.alpRadioTab {
    height: 100%;
    width: 30px;
    float: left;
}

.alpColorTab {
    float: left;
    height: 100%;
    width: 440px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.alpCaption {
    font-size: 12px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 2px;
}

.alpPaletteColors {
    height: 25px;
    width: 404px;
    position: relative;
}

.alpPaletteShade {
    position: absolute;
    width: 0px;
    height: 25px;
    background-color: rgba(255,255,255,0.67);
}

    .alpPaletteShade.alpInactive {
        width: 100% !important;
    }

.alpPaletteSlider {
    width: 404px;
    height: 14px;
    position: relative;
}

.alpSlider {
    width: 8px;
    height: 14px;
    position: absolute;
    margin-left: -4px;
    cursor: pointer;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAYAAAASVl2WAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAc0lEQVQoU62QsQ3AIAwEPROwBg09FT07MwAl9UfviCgBK0qR4iTrD7AeAfCKlFLgnIP3/gEzOlnFyrcDIYRNzOyHFVaDCZ3WtCTRmtbn3JGUknmb0ElrDTHGTTKj02d678g5X5IzM10xd40xUGtVOJ855AB8K+QZ7IiqFAAAAABJRU5ErkJggg==');
}

.alpSliderInactive {
    opacity: 0.2;
}


.alpPaletteValues {
    font-family: 'Roboto', sans-serif;
    margin-top: 4px;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
}

.alpColorCell {
    float: left;
    width: 4px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.alpValueCell {
    float: left;
    width: 4px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.alpValues {
    float: left;
    height: 100%;
    width: 347px;
    margin-left: -2px;
}

.alpInp {
    float: left;
    height: 100%;
    width: 30px;
}

    .alpInp input {
        width: 20px;
        padding: 0px 0px 1px 4px;
    }
